@font-face {
    font-family: 'ProximaNova-Black';

    src: local('ProximaNova-Black'),
    url('https://nomail.com.ua/files/eot/317d5480a545edf076e02aacd21f434f.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/317d5480a545edf076e02aacd21f434f.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/317d5480a545edf076e02aacd21f434f.woff2') format('woff2');
}
*,*:after,*:before {
    box-sizing: border-box;
}
body {
    background: #070506 url("./img/main-bg.png");
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    max-width: 1060px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 90px;
}
.header__logo {
    margin-right: 70px;
}
.nav__link {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.episode__subtitle {
    display: block;
    margin-top: 78px;
    font-size: 40px;
    line-height: 100%;
    font-family: 'ProximaNova-Black', sans-serif;
}
.episode__title {
    margin-top: 5px;
    font-size: 64px;
    line-height: 78px;
    font-family: 'ProximaNova-Black', sans-serif;
    margin-bottom: 25px;
}
.episode__description {
    max-width: 572px;
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
    margin-bottom: 25px;
}
.episode__premier{
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 150%;
    color: #B02000;
}
.episode__date {
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 46px;
}
.button-play {
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    border: none;
    color: white;
    padding: 25px 34px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding-right: 80px;
    position: relative;
}
.button-play:after {
    position: absolute;
    content: "";
    width: 65px;
    height: 65px;
    background: white url(./img/Polygon.svg) no-repeat center;
    border-radius: 50%;
    display: block;
    right: 0;
    top: 0;
}
.button-play:before {
    content: "";
    width: 81px;
    height: 81px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top:-8px;
}